*{
    margin:0;
    padding:0;
   }
   .fundo{
    height: 100vh;
    background: linear-gradient(180deg, rgba(114, 244, 244, 0.65) 3.34%, rgba(81, 166, 244, 0.765) 48.44%, #8A50E9 96.42%);
    }
    .calculadora{
    position: absolute;
    background-color:rgba(0, 0, 0,  0.3);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    padding: 15px;
    }

    .calculadora h1{
     margin-top:10px;
    margin-bottom:20px;
    text-align:center;
    text-transform: upperCase;
    font-size: 27px;
    color:white;


    }
    .botao{
      width:50px;
      height:50px;
      font-size:25px;
      margin:  3px;
      cursor: pointer;
      background-color: #FFFAFA;
      border:none;
    }
    .botao:hover{
     background-color: #B0E0E6;
     border: solid #F0F8FF;

    }
    #resultado{
    background-color: white;
    width:212px;
    height:30px;
    margin: 5px;
    font-size:25px;
    color:black;
    text-align:right;
    padding:5px;

    }